[submodule "problem-solver/cxx/sc-machine"]
	path = problem-solver/cxx/sc-machine
	url = https://github.com/ostis-ai/sc-machine
[submodule "problem-solver/py/py-sc-kpm"]
	path = problem-solver/py/py-sc-kpm
	url = https://github.com/ostis-ai/py-sc-kpm
[submodule "sc-web"]
	path = sc-web
	url = https://github.com/ostis-ai/sc-web/
[submodule "kb/ims.ostis.kb"]
	path = kb/ims.ostis.kb
	url = https://github.com/ostis-ai/ims.ostis.kb
